.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

button {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #697689;
}

button:active {
    background-color: #555555;
}
